#Dh1{
    border-style: solid;
    border-color: rgb(63, 66, 223);

}


h2{

    margin-top: 20px;
margin-bottom:40px;
    border-style: solid;
    border-color: rgb(166, 167, 175);

}
.lista{

    border-style: solid;
    border-color: rgb(153, 248, 98);
}
