.flex-container{
    display: flex;
    background-color: turquoise;
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;
   margin-top: 20px;
    justify-content: space-between;
}
.flex-container>div{
background-color: #f1f1f1;

height: 50px;
width: 150px;
text-align: center;
align-self: flex-end;
}

