#capa1{
    background-color: lightskyblue;
   
}
#capa1 a:hover {
    background-color: rgb(211, 161, 115);
  }
#capa1 a{
    text-decoration: underline;
}
#capa2{
    background-color: rgb(55, 45, 114);
}
#capa1 a{
    text-decoration: underline;
}
#capa2:hover a{
    background-color: midnightblue;
}
#capa3{
    background-color: lightsalmon;
}
#capa3 a[href="http://www.google.com"]:hover{
    background-color: coral;
}
#capa4{
    background-color: palegreen;
}
#capa4:hover a[href="http://www.madrid.org"]{
    background-color: cornflowerblue;
}